<section
    class="flex h-screen w-full flex-col m-auto text-center justify-center items-center font-5xl"
>
    <h1 class="font-anton text-5xl font-bold">404</h1>
    <h2 class="font-anton text-2xl font-bold">PAGE NOT FOUND</h2>
    <a
        class="underline hover:text-blue-400 hover:decoration-blue-500 decoration-black decoration-1"
        href="/">Return home</a
    >
</section>
