---

---

<nav class="flex items-center bg-sky-500">
    <div class="ml-8 font-thin text-2xl">
        <span class="font-anton text-black">KAN</span><span
            class="font-anton text-zinc-200">JISHO</span
        >
    </div>

    <ul class="flex font-anton h-12 pl-8 items-center">
        <li
            class="flex items-center font-thin h-full hover:bg-sky-700 p-2 text-zinc-200"
        >
            <a href="/">Home</a>
        </li>
    </ul>
</nav>
