---
import Search from "../icons/search.astro";
---

<div class="flex h-dvh flex-col justify-center align-middle items-center">
    <h1 class="font-anton text-5xl text-sky-500">
        KAN<span class="text-black font-anton">JISHO</span>
    </h1>
    <div
        class="flex bg-zinc-100 border-gray-300 mt-4 rounded-xl lg:w-1/3 w-90%"
    >
        <form action="/search" class="flex w-full" method="POST">
            <input
                class="bg-zinc-100 ml-4 text-[20px] w-full focus-visible:outline-none"
                type="text"
                placeholder="Search..."
                name="kanji"
                maxlength="1"
                required
            />
            <button
                type="submit"
                class="flex box-border items-center rounded-xl h-full p-4 ml-2 hover:bg-zinc-400"
                ><i><Search /></i></button
            >
        </form>
    </div>
</div>

<style>
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 50px inset rgb(244, 244, 245); /* Change the color to your own background color */
    }
</style>
