---
const { fetchedData } = Astro.props;
console.log(fetchedData);
---

<section
    class="flex h-screen flex-col justify-center align-middle items-center"
>
    <div>
        <h1>{JSON.stringify(fetchedData)}</h1>
    </div>
</section>
