---
interface Props {
	title: string;
}
import Navbar from "../components/Navbar.astro";
import ThemeButton from "../components/ThemeButton.jsx";
import { initTheme } from "../utils/theme.js";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" type="text/css" href="/src/styles.css" />
		<link rel="icon" type="image/svg+xml" href="/icon.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<script>
			import { initTheme } from "../utils/theme";

			(function () {
				initTheme();
				const theme = localStorage.getItem("theme") || "light";
				const nav = document.getElementById("navbar");
				if (theme === "dark") {
					document.documentElement.setAttribute("data-theme", "dark");
					nav.setAttribute("data-theme", "dark");
				} else {
					nav.setAttribute("data-theme", "light");
					document.documentElement.setAttribute(
						"data-theme",
						"light",
					);
				}
			})();
		</script>
		<link
			href="https://fonts.googleapis.com/css2?family=Anton+SC&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
	}

	 {
		box-sizing: border-box;
		transition: 0.4s ease-in;
	}
	
	h2,
	h4,
	p {
		transition: none;
	}

	body {
		height: 100svh;
	}
</style>
