* {
    transition: .4s ease-in;
}

#moonsvg {

    fill: black;
}

.dark #sunsvg {
    fill: white
}

#sunsvg {
    fill: black;
}

.dark #moonsvg {
    fill: white
}

.dark #navbar {
    background-color: rgb(37, 37, 37);
}

.dark #jisho {
    color: white;
}

.dark #themeButton {
    color: white
}
html{
    background-color: white;
}
.dark html {
    background-color: rgb(10, 10, 10);
}
